<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.32.0" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http.Polly" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.8" targetFramework="net48" />
  <package id="MySql.Data" version="9.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Polly" version="8.6.3" targetFramework="net48" />
  <package id="Polly.Contrib.WaitAndRetry" version="1.1.1" targetFramework="net48" />
  <package id="Polly.Core" version="8.6.3" targetFramework="net48" />
  <package id="Polly.Extensions.Http" version="3.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.8" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.8" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.8" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.8" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.8" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.6" targetFramework="net48" />
</packages>